@charset "UTF-8";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    
}
:root{
    --background: black;
}
body{
    width:100%;
}
.menu-header{
    border-bottom:1px solid rgb(115, 115, 115);
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
#logo{
    display: flex;
    font-size: 2.0em;
}
.menu-header h3 span{
    color:blue;
    font-weight: bold;
    
}
.nav-menu nav{
    display:none;
    gap:1rem; 
    flex-direction: row;
    /*Quando apertar no botão menu ou no botao do lado do acessorios, aparecer as opções*/
}
.icon-right{
    display: flex;
    gap:1.3rem;
    font-size: 1.7em;
    cursor:pointer;
    justify-content: end;
    
}
.acessorios{
    display:flex;
    margin:auto;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top:1rem;
    gap:3rem;
}
.acessorios span{
    font-size: 2.0em;
    cursor:pointer;
}

.option nav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
   
}
.option nav li{
    display:flex;
    
}
.product{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding:1rem;
}
#nome-produto{
    margin-bottom:1rem;
}
#price span p{
    font-size: 0.9em;
    color:rgb(54, 54, 232);
    cursor:pointer;
}
#price p{
    padding:0.3rem 0;
}

.desc{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:325px;
    margin:0.3rem;
}
.desc h2{
    padding:1rem;
}
.desc h3{
    font-family: 'Times New Roman', Times, serif;
}
.desc p{
    border:1px solid gray;
    background-color: rgb(227, 222, 222);
    border-radius: 10px;
    font-weight: bold;
    padding:1rem;
    text-indent: 1rem;
    text-align: left;
}

.pedido{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.frete{
    padding: 1rem 0;
    display:flex;
}
.frete button{
    border:1px solid gray;
    padding:0 0.4rem;
    font-weight: bolder;
    background-color: rgb(239, 228, 228);
    cursor:pointer;
}
.material-symbols-outlined{
    padding:1rem;
    border:1px solid gray;
}
.buy{
    padding:1rem;
    display:flex;
    gap:1rem;
    margin:auto;
}
.buy button{
    display:flex;
    padding:1rem;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
    font-weight: bolder;
    background-color: rgb(166, 216, 216);
    border:1px solid;
    border-radius: 10px;
}
.more{
    display:flex;
    flex-direction:row;
    margin-right:auto;
    overflow-y: auto;
    flex-wrap: wrap;
    align-items: center;
    padding:1rem;
}
.more ul{
    display: flex;
    padding:1rem;
    
}
.more li{
    border:1px solid gray;
    display:flex;
    margin:auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding:0.8rem;
}

.rodape{
    background: rgb(53, 52, 52);
    padding:1rem;
}
.rodape p{
    padding:0.5rem;
    color:#fff;
    font-size: 0.9em;
    font-family: 'Courier New', Courier, monospace;

}
.rodape p span{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(123, 119, 119);
    font-size: 0.9em;
    padding:1rem 0;
    font-weight: bolder;
}
.rodape a{
    color:black;
}
.link-app{
    display: flex;
    gap:1rem;
    align-items: center;
    padding:1rem 0;
}
.logo{
    padding:1rem;
    margin:auto;
    text-align: center;

}
.logo h2{
    color:#fff;
}
.logo h2 span{
    color:blue;
}
.logo p{
    color:gray;
    font-size: 0.8em;
}
.links-uteis {
    display:flex;
    justify-content: start;
    flex-direction:column;
    padding:1rem 0;
    border-bottom: 2px solid gray;
    font-size:0.8em;
}
.links-uteis h3{
    color:#fff;
}
.links-uteis li{
    padding:0.3rem 0;
    
}
.copyright{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    margin-top:1rem;
   
}
::-moz-scrollbar {
    width: 40px;
  }


