@charset "UTF-8";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    
}
:root{
    --background: black;
}
body{
    width:100%;
}
.menu-header{
    border-bottom:1px solid rgb(115, 115, 115);
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
#logo{
    display: flex;
    font-size: 2.0em;
}
.menu-header h3 span{
    color:blue;
    font-weight: bold;
    
}
.nav-menu nav{
    display:none;
    gap:1rem; 
    flex-direction: row;
    /*Quando apertar no botão menu ou no botao do lado do acessorios, aparecer as opções*/
}
.icon-right{
    display: flex;
    gap:1.3rem;
    font-size: 1.7em;
    cursor:pointer;
    justify-content: end;
    
}
.acessorios{
    display:flex;
    margin:auto;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top:1rem;
    gap:3rem;
}
.acessorios span{
    font-size: 2.0em;
    cursor:pointer;
}

.option nav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
   
}
.option nav li{
    display:flex;
    
}
.product{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding:1rem;
}
#nome-produto{
    margin-bottom:1rem;
}
#price span p{
    font-size: 0.9em;
    color:rgb(54, 54, 232);
    cursor:pointer;
}
#price p{
    padding:0.3rem 0;
}

.desc{
    padding:1rem;

}
.desc h2{
    padding:1rem;
}
.desc h3{
    font-family: 'Times New Roman', Times, serif;
}
.desc p{
    border:1px solid gray;
    background-color: rgb(227, 222, 222);
    border-radius: 10px;
    font-weight: bold;
    padding:1rem;
    text-indent: 1rem;
    text-align: left;
}

.pedido{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.frete{
    padding: 1rem 0;
    display:flex;
}
.frete button{
    border:1px solid gray;
    padding:0 0.4rem;
    font-weight: bolder;
    background-color: rgb(239, 228, 228);
    cursor:pointer;
}
.material-symbols-outlined{
    padding:1rem;
    border:1px solid gray;
}
.buy{
    
    padding:1rem;
    display:flex;
    gap:1rem;
    margin:auto;
}
.buy button{
    display:flex;
    padding:1rem;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
    font-weight: bolder;
    background-color: rgb(166, 216, 216);
    border:1px solid;
    border-radius: 10px;
}
.rodape{
    border:1px solid;
    background: gray;
    padding:1rem;
}
